@import '../common.scss';

.project--container {
  width: calc(100% - 200px);
  height: calc(100% - 80px);
  margin-left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project--video {
  width: 50%;
  height: 56.9%;
  margin: 1rem;
}

.project--timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--image {
  margin: 1rem;
  width: 15%;
  cursor: pointer;
}

.project--article {
  border: 1px solid blue;
  width: 40%;
  height: 70%;
  margin: 1rem;
}

.project--title {
  font-size: 25px;
}
